@font-face {
  font-family: "Mont";
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
}
@font-face {
  font-family: "MontL";
  src: url("../fonts/Montserrat-Light.woff") format("woff");
}
@font-face {
  font-family: "MontB";
  src: url("../fonts/Montserrat-Bold.woff") format("woff");
}

body {
  font-family: "Mont" !important;
}
.form-group {
  padding-left: 50px;
  padding-right: 50px;
}

.header {
  background: #eaebef;
}
.header_espacio {
  padding: 40px 0;
}

.logo {
  width: 90%;
}

.serviciosBK {
  background:  url(../img/servicosBK.jpg);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6) !important;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.servicios h1 {
  font-size: 30px;
  font-family: "MontB" !important;
}

.p-servicios {
  font-family: "MontL" !important;
  font-size: 14px;
}

.i-servicios {
  width: 90%;
  padding-top: 10px;
  overflow: hidden;
  margin-left: -50px;
}
.negrita {
  font-weight: bold;
  font-family: "MontB" !important;
}
.l-servicios {
  font-family: "MontL" !important;
  font-size: 14px;
  margin-left: -20px;
}

.mantenimiento,
.energia,
.calidad {
  background: #b2c454;
  padding: 80px 0;
}
.energia {
  background: #00acd9;
}

.calidad {
  background: #e9a135;
}

.sin {
  padding: 0;
}

.footer {
  background-image: url(../img/footer.png);
  background-size: cover;
}

.footer-d {
  font-weight: bold;
  font-family: "MontB" !important;
  line-height: 1;
  font-size: 16px;
}

.t-mantenimiento {
  font-weight: bold;
  font-family: "MontB" !important;
  color: #b2c454;
  line-height: 1;
  font-size: 30px;
  margin-left: 10%;
}
.solar{
  background-color: #b2c454;
  padding: 40px;
}

.contactenosBk{
  background-image: url("../../src/img/contactenos.jpg");
  padding: 100px 0;
  background-position: 0% 0%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.p-mantenimiento {
  font-family: "MontB" !important;
  font-size: 14px;
  margin: 50px 0 0 20px;
}

.seguridad {
  background: #00acd9;
  color: #fff;
}

.p-seguridad {
  font-weight: bold;
  font-family: "MontB" !important;
  font-size: 14px;
  line-height: 1;
  padding-left: 25px;
  margin-bottom: 30px;
}

.lista-mantenimiento {
  font-size: 14px;
}
.engranaje {
  padding-bottom: 20px;
}

.img-div-1 {
  max-width: 500px;
  width: 100%;
}

.img-div-2 {
  /* max-width: 500px; */
  width: 80%;
}

.row-div-1 {
  background-color: #eaebef;
}
.row-div-2 {
  background-color: #00acd9;
  color: white;
}

p > ul > li {
  text-decoration: none;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.w-100 {
  margin: 0;
}
.div-verde {
  text-align: left;
  background-color: #b2c454;
  color: white;
  width: fit-content;
  padding: 10px 25px;
  border-radius: 0.8em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: "MontB" !important;
}

.div-azul {
  background-color: #00acd9;
  color: #fff;
  width: fit-content;
  padding: 10px 25px;
  border-radius: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: "MontB" !important;
}
.div-blanco {
  background-color: #fff;
  color: #0074b6;
  width: fit-content;
  padding: 10px 25px;
  border-radius: 0.8em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: "MontB" !important;
}

.let-azul {
  color: #00acd9;
  font-weight: 550;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

#myHeader{
    z-index: 999;
    padding-top: 10px;
    padding-bottom: 10px;
}

#logo_fijo{
    padding:15px 15px;
    max-width: 320px;
}

@media (max-width: 576px) {

  #myHeader{
    z-index: 999;
    padding-top: 0px;
    padding-bottom: 0px;
}

  .ii-servicios{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 30px auto;
    width:50%;
    padding-top: 20px;;
  }
  .img-tamano{
    width: 80%;
  }
}

.image1 {
  position:relative;
  background: url(../img/img_1.jpg) no-repeat fixed;
  background-position: center center;
  background-size: cover;
  min-height: 500px;
}

.image2 {
  position:relative;
  background: url(../img/img_2.jpg) no-repeat fixed;
  background-position: center center;
  background-size: cover;
  min-height: 500px;
}

.image3 {
  position:relative;
  background: url(../img/img_3.jpg) no-repeat fixed;
  background-position: center center;
  background-size: cover;
  min-height: 500px;
}

.image4 {
  position:relative;
  background: url(../img/img_4.jpg) no-repeat fixed;
  background-position: center center;
  background-size: cover;
  min-height: 500px;
}

.image5 {
  position:relative;
  background: url(../img/img_5.jpg) no-repeat fixed;
  background-position: center center;
  background-size: cover;
  min-height: 500px;
}

.correo{
  width:60%;
}

.datos{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width:100%;
  overflow: hidden;
  margin: 0 auto;
}

.veite{
width:40%;
}

.tel1{
  width:22%;
}

.tel2{
  width:25.5%;
}

.afini-btn{
  background-color: #b2c454 !important;
}

.textF{
  text-align: left;
}

.lista-final{
  color: #fff;
  text-align: left;
}

.blanco{
  color: #fff;
  font-size: 18px;
  text-align: left;
}
.lista-azul{
  color: #fff;
  text-align: left;
  padding: 20px 50px;
  background: #038ec6;
  border-radius: 25px;
  margin: -15px 0 0 0;
}
